<!doctype html>
<html lang="fr">

<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="stylesheets/liste.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <link href="http://fonts.googleapis.com/css?family=Cookie" rel="stylesheet" type="text/css">

</head>

<body>

    <% include ../partials/nav %>


        <main>

            <div class="container ">
                <div class="row justify-content-center">

                    <div class="m-4 text-center">
                        <h4 class="rounded-circle mx-auto my-5">NOS ATELIERS</h4>
                    </div>





                    <!--Tableau des différents ateliers-->

                    <div class="table-responsive">
                        <table class="col-lg-8 table table-bordered table-striped mt-5">
                            <thead>
                                <tr>
                                    <th scope="col">Titre</th>
                                    <th scope="col">Contenu</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">Horaire de début</th>
                                    <th scope="col">Durée</th>
                                    <th scope="col">Places disponibles</th>
                                    <th scope="col">Places réservées</th>
                                    <th scope="col">Prix</th>
                                    <th scope="col">Image</th>


                                </tr>
                            </thead>
                            <tbody>

                                <% atelier.forEach(function(element) {%>
                                    <tr>
                                        <td>
                                            <%= element.titre%>
                                        </td>
                                        <td>
                                            <%= element.contenu%>
                                        </td>
                                        <td>
                                            <%= (new Date(element.date)).getDate() %>/
                                                <%= (new Date(element.date)).getMonth()+1 %>/
                                                    <%= new Date(element.date).getFullYear() %>
                                        </td>
                                        <td>
                                            <%= element.horaire_debut %>
                                        </td>
                                        <td>
                                            <%= element.duree%>
                                        </td>
                                        <td>
                                            <%= element.places_dispo%>
                                        </td>
                                        <td>
                                            <%= element.places_reservees%>
                                        </td>
                                        <td>
                                            <%= element.prix%>
                                        </td>
                                        <td>
                                            <%= element.image%>
                                        </td>
                                    </tr>
                                    <%})%>
                            </tbody>
                        </table>

                    </div>


                    <table class="col-lg-8 table table-bordered table-striped mt-5">

                </div>
            </div>
            </div>
        </main>



        <% include ../partials/footer %>



            <!-- Optional JavaScript -->
            <!-- jQuery first, then Popper.js, then Bootstrap JS -->
            <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
                crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
                crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
                crossorigin="anonymous"></script>
</body>

</html>