<!doctype html>
<html lang="fr">

<head>
    <% include ../partials/head %>
</head>

<body>

    <% include ../partials/nav %>

        <main>
            <div class="container ">
                <div class="row justify-content-center">
                    <div class="m-4 text-center">
                        <h4 class="rounded-circle mx-auto my-5">ATELIERS de Chef
                            <%=session.nom%>
                        </h4>
                    </div>

                    <!--Tableau des différents ateliers-->

                    <div class="table-responsive text-center">
                        <table class="col-lg-8 table table-bordered table-striped mt-5">
                            <thead>
                                <tr>
                                    <th scope="col">Formateur</th>
                                    <th scope="col">Titre</th>
                                    <th scope="col">Contenu</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">Horaire de début</th>
                                    <th scope="col">Durée</th>
                                    <th scope="col">Places disponibles</th>
                                    <th scope="col">Places réservées</th>
                                    <th scope="col">Prix</th>
                                    <th scope="col">Image</th>
                                    <th scope="col">Active</th>

                                    <th scope="col">Modifier</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% atelier.forEach(function(element) {%>
                                    <% if(session.nom == element.chef) {%>
                                        <tr>
                                            <td>
                                                Chef
                                                <%= element.chef%>
                                            </td>
                                            <td>
                                                <%= element.titre%>
                                            </td>
                                            <td>
                                                <%= element.contenu%>
                                            </td>
                                            <td>
                                                <%= (new Date(element.date)).getDate() %>/
                                                    <%= (new Date(element.date)).getMonth()+1 %>/
                                                        <%= new Date(element.date).getFullYear() %>
                                            </td>
                                            <td>
                                                <%= element.horaire_debut %>
                                            </td>
                                            <td>
                                                <%= element.duree%>
                                            </td>
                                            <td>
                                                <%= element.places_dispo%>
                                            </td>
                                            <td>
                                                <%= element.places_reservees%>
                                            </td>
                                            <td>
                                                <%= element.prix%>
                                            </td>
                                            <td>
                                                <img class="w-50" src="<%= element.image %>">
                                            </td>
                                            <td>
                                                <%= element.active%>
                                            </td>
                                            <td>
                                                <a href="/ateliers/edit/<%=element._id %>" role="button">
                                                    <i class="fas fa-edit"></i>
                                                </a>
                                                <a type="button" class="btn btn-light bg-transparent" href="/ateliers/remove/<%=element._id %>">
                                                    <i class="text-danger fas fa-trash-alt"></i>
                                                </a>
                                            </td>
                                        </tr>
                                        <%}})%>
                            </tbody>
                        </table>

                    </div>

                    <table class="col-lg-8 table table-bordered table-striped mt-5">
                        <a class="btn btn-xl text-light js-scroll-trigger mt-5" href="/ateliers/ajoutatelier">Ajouter un atelier</a>
                </div>
            </div>
            </div>
        </main>



    



            <!-- Optional JavaScript -->
            <!-- jQuery first, then Popper.js, then Bootstrap JS -->
            <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
                crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
                crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
                crossorigin="anonymous"></script>
</body>

</html>