<!doctype html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body>
    <header>
        <% include ../partials/nav %>
    </header>

    <main>

        <div class="col-lg-8 col-md-10 col-sm-12 text-center">
            <a class="btn btn-primary mx-auto my-5" href="/ateliers/ateliers-admin">Retour à la liste des ateliers</a>

            <form class="pb-4 mx-auto " action="/ateliers/update/<%= atelier._id %>" method="POST">
                <div class="form-group">
                    <div class=" my-3">
                        <label for="colFormLabelSm" class="col-sm-5 col-form-label col-form-label-sm">Titre:</label>
                        <input class="col-sm-5" type="text" name="titre" value="<%= atelier.titre %>"/>
                    </div>
                    <div class=" my-3">
                        <label for="colFormLabelSm" class="col-sm-5 col-form-label col-form-label-sm">Contenu:</label>
                        <input class="col-sm-5" type="text" name="contenu" value="<%= atelier.contenu %>"/>
                    </div>
                    <div class=" my-3">
                        <label for="colFormLabelSm" class="col-sm-5 col-form-label col-form-label-sm">Date:</label>
                        <input class="col-sm-5" type="text" name="date" value="<%= atelier.date %>"/>
                    </div>

                    <div class="date my-3">
                        <label for="colFormLabelSm" class="col-sm-5 col-form-label col-form-label-sm">Horaire de début:</label>
                        <input class="col-sm-5" type="text" name="horaire_debut" value="<%= atelier.horaire_debut %>"/>
                        
                    </div>
                    <div class=" my-3">
                        <label for="colFormLabelSm" class="col-sm-5 col-form-label col-form-label-sm">Durée (en minutes) :</label>
                        <input class="col-sm-5" type="number" name="duree" value="<%= atelier.duree %>"/>
                    </div>
                    <div class=" my-3">
                        <label for="colFormLabelSm" class="col-sm-5 col-form-label col-form-label-sm">Places disponibles:</label>
                        <input class="col-sm-5" type="number" name="places_dispo" value="<%= atelier.places_dispo %>"/>
                    </div>
                    <div class=" my-3">
                        <label for="colFormLabelSm" class="col-sm-5 col-form-label col-form-label-sm">Places réservées :</label>
                        <input class="col-sm-5" type="number" name="places_reservees" value="<%= atelier.places_reservees %>"/>
                    </div>
                    <div class=" my-3">
                        <label for="colFormLabelSm" class="col-sm-5 col-form-label col-form-label-sm">Tarif :</label>
                        <input class="col-sm-5" type="number" name="prix" value="<%= atelier.prix %>"/>
                    </div>
                    <div class=" my-3">
                        <label for="colFormLabelSm" class="col-sm-5 col-form-label col-form-label-sm">Image :</label>
                        <input class="col-sm-5" type="text" name="image" value="<%= atelier.image %>"/>
                    </div>
                    <div class=" my-3">
                        <label for="colFormLabelSm" class="col-sm-5 col-form-label col-form-label-sm">Activer :</label>
                        <input class="col-sm-5" type="checkbox" name="active" value="<%= atelier.active %>"/>
                    </div>
                    <div class=" my-3">
                        <label for="colFormLabelSm" class="col-sm-5 col-form-label col-form-label-sm">Formateur :<%= atelier.chef %></label>
                        
                    </div>
                    
                    <button type="submit" class="btn btn-secondary my-5">Mettre à jour</button>
                </div>
            </form>

        </div>

    </main>




    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

</body>

</html>